<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skplanet.iba.domain.user.IlmUserMapper">

	<select id="selectList" resultType="com.skplanet.iba.domain.user.IlmUser">
	SELECT EMPNO,
	       HNAME,
	       DEPTNM
	  FROM INF_PERSON_INFO_RCV
	<where>
	  <if test="hname != null and !''.equals(hname)">
	       EMPNO = #{hname}
	  </if>
	</where>
	</select>
</mapper>