<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skplanet.iba.domain.user.UserAuthorityMapper">

	<select id="selectList" resultType="com.skplanet.iba.domain.user.UserAuthority">
	SELECT USER_ID,
	       AUTHORITY_ID
	  FROM USER_AUTHORITY
	<where>
	  <if test="userId != null and !''.equals(userId)">
	       USER_ID = #{userId}
	  </if>
	  <if test="authorityId != null and !''.equals(authorityId)">
	   AND AUTHORITY_ID = #{authorityId}
	  </if>
	</where>
	</select>

	<select id="selectOne" resultType="com.skplanet.iba.domain.user.UserAuthority">
	SELECT USER_ID,
	       AUTHORITY_ID
	  FROM USER_AUTHORITY
	<where>
	  <if test="userId != null and !''.equals(userId)">
	       USER_ID = #{userId}
	  </if>
	  <if test="authorityId != null and !''.equals(authorityId)">
	   AND AUTHORITY_ID = #{authorityId}
	  </if>
	</where>
	</select>
	
	<insert id="insert">
	INSERT INTO USER_AUTHORITY(
		USER_ID,
		AUTHORITY_ID,
		REG_USER_ID,
		REG_DATE
	)VALUES(
		#{userId},
		#{authorityId},
		#{regUserId},
		NOW()
	)
	</insert>
	
	<delete id="delete">
	DELETE FROM USER_AUTHORITY
	 WHERE USER_ID = #{userId}
	  <if test="authorityId != null and !''.equals(authorityId)">
	   AND AUTHORITY_ID = #{authorityId}
	  </if>
	</delete>	
</mapper>