<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skplanet.iba.domain.ticket.TicketMapper">
	<sql id="selectList">
		SELECT TICKET_ID,
		       TICKET_KEY,
		       SUMMARY,
		       DESCRIPTION,
		       CATEGORY,
		       DIVISION,
		       SECTION,
		       STATUS,
		       PRIORITY,
		       RESOLUTION,
		       RESOLUTION_DATE,
		       COMPONENTS,
		       LABELS,
		       REPORTER_KEY,
		       REPORTER_NAME,
		       ASSIGNEE_KEY,
		       ASSIGNEE_NAME,
		       APPROVER_KEY,
		       APPROVER_NAME,
		       LEFT(CREATE_DATE, 10) AS CREATE_DATE, 
		       LEFT(UPDATE_DATE, 10) AS UPDATE_DATE
		   FROM API_TICKET_INFO
		<where>
		  <if test="ticket.ticketId != null and ticket.ticketId > 0">
		       TICKET_ID = #{ticket.ticketId}
		  </if>
		</where>
		 ORDER BY TICKET_ID ASC
	</sql>

	<select id="selectList" resultType="com.skplanet.iba.domain.ticket.Ticket">
		<include refid="selectList"/>
		<include refid="common.paging"/>
	</select>
	
	<select id="selectOne" resultType="com.skplanet.iba.domain.ticket.Ticket">
		SELECT TICKET_ID,
		       TICKET_KEY,
		       SUMMARY,
		       DESCRIPTION,
		       CATEGORY,
		       DIVISION,
		       SECTION,
		       STATUS,
		       PRIORITY,
		       RESOLUTION,
		       RESOLUTION_DATE,
		       COMPONENTS,
		       LABELS,
		       REPORTER_KEY,
		       REPORTER_NAME,
		       ASSIGNEE_KEY,
		       ASSIGNEE_NAME,
		       APPROVER_KEY,
		       APPROVER_NAME,
		       LEFT(CREATE_DATE, 10) AS CREATE_DATE, 
		       LEFT(UPDATE_DATE, 10) AS UPDATE_DATE
		  FROM API_TICKET_INFO
		  WHERE TICKET_ID = #{ticketId}
	</select>
	
	<select id="selectTicketCommentList" resultType="com.skplanet.iba.domain.ticket.TicketComment">
		SELECT COMMENT_ID,
				TICKET_ID,
				CREATOR_KEY,
				CREATOR_NAME,
				CONTENTS,
	       		LEFT(CREATE_DATE, 10) AS CREATE_DATE, 
	       		LEFT(UPDATE_DATE, 10) AS UPDATE_DATE
		FROM API_TICKET_COMMENT
		WHERE TICKET_ID = #{ticketId}
	</select>
	
	<select id="selectTicketAttachmentList" resultType="com.skplanet.iba.domain.ticket.TicketAttachment">
		SELECT ATTACH_ID,
				TICKET_ID,
				FILE_NAME,
				SAVE_FILE_NAME,
				SAVE_FILE_PATH,
				FILE_SIZE,
				MIME_TYPE,
				FILE_DOWNLOAD_URL,
				CREATOR_KEY,
				CREATOR_NAME,
		       LEFT(CREATE_DATE, 10) AS CREATE_DATE
		  FROM API_ATTACHMENT
		  WHERE TICKET_ID = #{ticketId}
	</select>

	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(*) AS totalCount 
	    FROM ( <include refid="selectList"/> ) T1
	</select>
</mapper>