<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skplanet.iba.domain.authority.AuthorityMapper">

	<select id="selectList" resultType="com.skplanet.iba.domain.authority.Authority">
	SELECT AUTHORITY_ID,
	       AUTHORITY_NAME,
	       DESCRIPTION,
	       USE_STATE
	  FROM AUTHORITY
	<where>
	  <if test="authorityId != null and !''.equals(authorityId)">
	       AUTHORITY_ID = #{authorityid}
	  </if>
	  <if test="useState != null and !''.equals(useState)">
	   AND USE_STATE = #{useState}
	  </if>
	</where>
	</select>
	
	<resultMap id="authorityWithMenuAndAccessMode" type="com.skplanet.iba.domain.authority.Authority">
		<result property="authorityId" column="AUTHORITY_ID"/>
		<collection property="authorityMenuList" column="{authorityId=AUTHORITY_ID}"
			select="com.skplanet.iba.domain.authority.AuthorityMenuMapper.selectList"/>
		<collection property="authorityAccessList" column="{authorityId=AUTHORITY_ID}"
			select="com.skplanet.iba.domain.authority.AuthorityAccessMapper.selectList"/>
	</resultMap>
		
	<select id="selectOne" resultMap="authorityWithMenuAndAccessMode">
	SELECT AUTHORITY_ID,
	       AUTHORITY_NAME,
	       DESCRIPTION,
	       USE_STATE
	  FROM AUTHORITY
	<where>
	  <if test="authorityId != null and !''.equals(authorityId)">
	       AUTHORITY_ID = #{authorityId}
	  </if>
	  <if test="useState != null and !''.equals(useState)">
	   AND USE_STATE = #{useState}
	  </if>
	</where>
	</select>
	
	<insert id="insert">
	INSERT INTO AUTHORITY(
		AUTHORITY_ID,
		AUTHORITY_NAME,
		DESCRIPTION,
		USE_STATE,
		REG_USER_ID,
		REG_DATE,
		MOD_USER_ID,
		MOD_DATE
	)VALUES(
		#{authorityId},
		#{authorityName},
		#{description},
		#{useState},
		#{regUserId},
		NOW(),
		#{modUserId},
		NOW()
	)
	</insert>
	
	<update id="update">
	UPDATE AUTHORITY
	   <set>
	    <if test="authorityName != null and !''.equals(authorityName)">
	       AUTHORITY_NAME = #{authorityName},
	    </if>
	    <if test="description != null and !''.equals(description)">
	       DESCRIPTION = #{description},
	    </if>
	    <if test="useState != null and !''.equals(useState)">
	       USE_STATE = #{useState},
	    </if>
	    <if test="modUserId != null and !''.equals(modUserId)">
	       MOD_USER_ID = #{modUserId},
	       MOD_DATE = NOW()
	    </if>
	   </set>
	 WHERE AUTHORITY_ID = #{authorityId}
	</update>

	<delete id="delete">
	DELETE FROM AUTHORITY
	 WHERE AUTHORITY_ID = #{authorityId}
	</delete>	
</mapper>