<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skplanet.iba.domain.authority.AuthorityMenuMapper">

	<select id="selectList" resultType="com.skplanet.iba.domain.authority.AuthorityMenu">
	SELECT AUTHORITY_ID,
	       MENU_ID
	  FROM AUTHORITY_MENU
	<where>
	  <if test="authorityId != null and !''.equals(authorityId)">
	       AUTHORITY_ID = #{authorityId}
	  </if>
	  <if test="menuId != null and !''.equals(menuId)">
	   AND MENU_ID = #{menuId}
	  </if>
	</where>
	</select>
	
	<select id="selectListByAuthorityIds" resultType="com.skplanet.iba.domain.authority.AuthorityMenu">
	SELECT AUTHORITY_ID,
	       MENU_ID
	  FROM AUTHORITY_MENU
	 WHERE AUTHORITY_ID IN (<foreach collection="array" item="item" separator=",">#{item}</foreach>)
	</select>
	
	<select id="selectOne" resultType="com.skplanet.iba.domain.authority.AuthorityMenu">
	SELECT AUTHORITY_ID,
	       MENU_ID
	  FROM AUTHORITY_MENU
	<where>
	  <if test="authorityId != null and !''.equals(authorityId)">
	       AUTHORITY_ID = #{authorityId}
	  </if>
	  <if test="menuId != null and !''.equals(menuId)">
	   AND MENU_ID = #{menuId}
	  </if>
	</where>
	</select>
	
	<insert id="insert">
	INSERT INTO AUTHORITY_MENU(
		AUTHORITY_ID,
		MENU_ID,
		REG_USER_ID,
		REG_DATE
	)VALUES(
		#{authorityId},
		#{menuId},
		#{regUserId},
		NOW()
	)
	</insert>
	
	<delete id="delete">
	DELETE FROM AUTHORITY_MENU
	 WHERE AUTHORITY_ID = #{authorityId}
	  <if test="menuId != null and !''.equals(menuId)">
	   AND MENU_ID = #{menuId}
	  </if>
	</delete>
</mapper>